# Do not sync these files
.DS_Store
fortinet/certificates/*
fortinet/customers/*
fortinet/system_admin.yml
fortinet/fortimanager.yml
.vscode

#Exceptions
!fortinet/certificates/.gitkeep
!fortinet/customers/customer_templates/*